.navbar {
    background-color: #f8f9fa;
    /* Light background for the navbar */
    padding: 15px;
    /* Padding around the navbar */
}

.navbar img {
    width: 150px;
    /* Set width for the logo */
    height: auto;
    /* Maintain aspect ratio */
}

.navbar-toggler {
    border: none;
    /* Remove border around the toggle button */
}


.navbar-nav {
    margin: 0 auto;
    /* Center the nav items */
    gap: 1rem;
    /* Space between nav items */
}

.nav-item .nav-link {
    color: #007bff;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
    font-weight: 500;
    /* Slightly bolder text */
}

.nav-item .nav-link:hover {
    color: #0056b3;
    /* Change color on hover */
}

.btn-primary {
    background-color: #405ef2;
    /* Primary button color */
    color: #fff;
    /* Text color */
    border: none;
    /* Remove border */
    border-radius: 14px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Button padding */
}

.btn-primary:hover {
    background-color: #004bbf;
    /* Darker shade on hover */
}

.nav-item .nav-link {
    color: black;
}